/* CSS style sheet for meditation website */

body {
    margin: 0px;
    padding: 0px;
    background: url('../Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Noticia Text", serif
}

.navbar li {
    display: inline-block;
    padding: 0px 15px;
}

.navbar ul {
    margin: 5px auto;
}

.left {
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    /* border: 2px solid blue; */
    cursor: pointer;
}

.mid {
    width: 45%;
    /* border: 2px solid blue; */
    margin: 18px auto;
}

.right {
    display: inline-block;
    /* border: 2px solid blue; */
    position: absolute;
    top: 30px;
    right: 30px;
}

.navbar li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 23px;
}

.navbar li a:hover, .navbar li a.active {
    color: rgb(245, 255, 233);
}

.left img {
    width: 80px;
    height: 80px;
}

.left h3 {
    font-size: 12px;
    line-height: 0em;
    text-align: center;
}

.btn {
    background-color: rgba(255, 232, 189, 0.575);
    border: 2px solid black;
    border-radius: 9.5px;
    padding: 5px 14px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(175, 158, 126, 0.575);
}

#email {
    margin-right: 10px;
}

.content {
    /* border: 2px solid blue; */
    height: 533px;
    margin: 20px;
    margin-top: 15px;
}

.header {
    /* border: 2px solid blue; */
    height: 80px;
}

.left-form {
    border: 2.5px solid grey;
    height: 515px;
    width: 650px;
    margin: 7px;
    margin-right: 0px;
    display: inline-block;
    background-color:rgba(245, 245, 245, 0.432);
    border-radius: 15px;
}

.right-content {
    border: 2.5px solid grey;
    height: 515px;
    width: 635px;
    margin: 7px;
    margin-left: 0px;
    float: right;
    background-color:rgba(54, 54, 54, 0.514);
    border-radius: 15px;
}

.left-form h2 {
    text-align: center;
    font-size: 40px;
}

.form input {
    width: 97%;
    margin: 4px;
    height: 35px;
    border-radius: 10px;
    border-color: black;
}

#submitform {
    width: 98%;
    margin: 4px;
    background-color: bisque;
    height: 35px;
}

#submitform:hover {
    background-color: rgb(175, 158, 126);
}

.left-form #Login {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 213px;
    top: 8px;
}

#Login:hover {
    text-decoration: underline;
}

.google {
    /* border: 2px solid blue; */
    background-color: bisque;
    margin: 25px auto;
    display: block;
    width: 20%;
    height: 7%;
}

.google a{
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.google:hover {
    cursor: pointer;
}

#glogo {
    height: 27px;
    width: 27px;
    vertical-align: middle;
    padding: 2px;
}

.icon {
    margin: 0px;
    padding: 0px;
    background-color: #ffdede;
    height: 32px;
    width: 43px;
    position:relative;
    top: -1px;
    left: -6px;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 75px;
}

.text {
    /* border: 2px solid yellow; */
    width: 62%;
    float: right;
    position: relative;
    bottom: 35px;
}

.right-content h1 {
    font-size: 34px;
    padding-top: 12px;
    text-align: center;
    color: rgb(197, 255, 88);
}

.right-content p {
    padding: 8px;
    font-size: 19px;
    color: rgb(94, 223, 255);
}

.right-content body{
    color: rgb(53, 255, 53);
}

.divide {
    background-color: rgb(180, 180, 180);
    height: 2px;
    width: 98%;
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
    top: -6px;
}

#firstpara {
    margin: 5px;
}